*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
#*.jar
*.rar
*.tar
*.zip
*.tar.*
*.pyo
*.pyc
*~
*#
*.orig
*.iml
*.ipr
._*
.Spotlight-V100
.Trashes
.classpath
.springBeans
.project
.settings/
.idea
.directory
.metadata
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
desktop.ini
/bin

#Solo subir los target de fuentes y war
/target/classes
/target/generated-sources
/target/maven-archiver
/target/maven-status
/target/sincronizador.juniper.paquetes
/target/test-classes



